<%- include("partials/header") %>
    <!-- navbar section -->
    <section id="header">
        <a href="/" id="logo">Sweet Cake</a>
        <div>
            <ul id="navbar">
                <li><a href="/">Home</a></li>
                <li class="dropdown"><strong> Menu</strong>
                    <div class="dropdown-content">
                        <a href="/cake">cake</a>
                        <a href="/cupcake" class="active">cupcake</a>
                        <a href="/topping">topping</a>

                    </div>
                </li>
                <li><a href="/">About</a></li>
                <li id="lg-bag"><a href="/cart"><i class="fas fa-cart-arrow-down"></i></a></li>
                <li class="dropdown"><i class="fas fa-user"></i>
                    <div class="dropdown-content">
                        <a href="/manage">manage</a>
                        <a href="/add-product">add product</a>
                        <!--                     <a href="/log in">Log In</a>
                    <a href="/Sign Up">Sign Up</a> -->
                        <a href="/add-product">Log in</a>
                    </div>
                </li>
            </ul>
        </div>
        <div id="mobile">
            <a href="cart.html"><i class="fas fa-cart-arrow-down"></i></a>
            <i id="bar" class="fas fa-bars cus-icon fa-fw py-1"></i>
        </div>
    </section>


    <form method="POST" action="/">
        <!--Details Section -->
        <% if(product) {%>
            <section id="prodetails" class="section-p1">

                <div class="single-pro-image">
                    <img src="/img/product/<%=product.image%>" width="100%" id="MainImg" alt="">

                    <div class="small-img-group">
                        <div class="small-img-col">
                            <img src="/img/product/<%=product.image%>" width="100%" class="small-img" alt="">
                        </div>
                        <div class="small-img-col">
                            <img src="https://letocaffe.co.uk/uk_uploads/2021/04/2-600x600.jpg" width=" 100% " class="small-img " alt=" ">
                        </div>
                        <div class="small-img-col ">
                            <img src="https://letocaffe.co.uk/uk_uploads/2021/04/3-600x600.jpg" width="100%" class="small-img" alt="">
                        </div>
                        <div class="small-img-col">
                            <img src="https://letocaffe.co.uk/uk_uploads/2021/04/4-600x600.jpg" width="100%" class="small-img" alt="">
                        </div>
                    </div>

                    <!-- Start & comment section -->
                    <div class="review">
                        <div class="post">
                            <div class="text">Thanks for rating us!</div>
                            <div class="edit">EDIT</div>
                        </div>
                        <fieldset class="rating">
                            <input type="radio" id="star5" name="rating" value="5" /><label for="star5" class="full" title="Awesome"></label>
                            <input type="radio" id="star4" name="rating" value="4" /><label for="star4" class="full"></label>
                            <input type="radio" id="star3" name="rating" value="3" /><label for="star3" class="full"></label>
                            <input type="radio" id="star2" name="rating" value="2" /><label for="star2" class="full"></label>
                            <input type="radio" id="star1" name="rating" value="1" /><label for="star1" class="full"></label>
                        </fieldset>
                        <h3 id="rating-value"></h3>
                        <form action="#">
                            <div class="textarea">
                                <textarea cols="30" placeholder=" Add your comment..."></textarea>
                            </div>
                            <div class="btn">
                                <button type="submit">Post</button>
                            </div>

                        </form>
                    </div>
                </div>

                <!-- Detail section -->
                <div class="single-pro-details">
                    <span><a href="/cake" >Home / Cupcake</a></span>
                    <h4>
                        <%=product.name%>
                    </h4>
                    <h2>$
                        <%=product.price%>
                    </h2>
                    <select>
                        <option>Select Size</option>
                        <option>1 pound</option>
                        <option>2 pound</option>
                        <option>3 pound</option>
                    </select>
                    <input type="number" value="1">
                    <button class="normal">Add To Cart</button>
                    <h2>Product Details</h2>
                    <span><%=product.des%></span>
                </div>

            </section>

            <% } %>
    </form>

    <%- include("partials/footer") %>